body {
  height: 100vh;
  background: linear-gradient(to right, #c9d6ff, #e2e2e2);
}

.card-columns {
  column-count: 4;
  font-family: 'Ubuntu', sans-serif;
}
.clear,.edit {
  display: none;
  position: absolute;
  top: 0;
}

.clear {
  right: 8px;
  font-size: 16px;
}

.edit {
  right: 30px;
  top: 1px;
  font-size: 14px;
}

.clear {
  color: red;
}

.edit {
  color: green
}

.card:hover .clear,
.card:hover .edit {
  display: block;
}
.card:hover {
  box-shadow: 0px 5px 10px #c8c8c8;
  transform: scale(1.01);
}

.card {
  border: 1px solid lightgrey
}

.card {
  max-height: 250px;
  overflow: scroll;
}

@media only screen and (max-width: 576px) {
  .card-columns {
    column-count: 1;
  }

  .clear,
  .edit {
    display: block !important;
  }
}